.majalah-component {
    text-align: left;
    background-image: url(./MajalahBackground.jpg);
    background-size: cover;
    height: 430px;
}

.title {
    position: relative;
    top: 30px;
}

.title h3 {
    color: #F6C405;
    font-family: 'Spartan', sans-serif;
    font-weight: 700;
    margin-left: 5%;
    line-height: 0.7em;
}

.title p {
    font-size: 11px;
    color: white;
    font-family: 'Roboto Slab', 'serif';
    font-weight: 800;
    margin-left: 5%;
}

.content-container {
    display: flex;
    width: 100vw;
    justify-content: space-around;
    position: relative;
    top: 40px;
}

.cover {
    width: 47%;
    height: 280px;
    background-image: url(./VolumeTujuh.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 10px 8px 10px #282a2d;
}

.description {
    width: 40%;
    height: 275px;
}

.description p {
    font-family: 'Montserrat', sans-serif;
    font-size: 8.5px;
    font-weight: 700;
    color: white;
}

.description h6 {
    font-size: 10px;
    margin: 0;
    padding: 1px 0;
    color: #FFFFFF;
    font-family: 'Montserrat', sans-serif;
    font-weight: 800;
    text-transform: none;
}