.header-component {
    width: 100vw;
    height: 50px;
    background-color: #F6C405;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu {
    position: relative;
    left: 2.5vw;
}

img {
    width: 35px;
    height: 44px;
}

.search {
    position: relative;
    right: 2.5vw;
}