.footer-component {
    background-color: #F6C405;
    width: 100vw;
    font-family: 'Montserrat', sans-serif;
    color: white;
}

.address {
    padding-top: 15px;
}

.address h6 {
    font-size: 14px;
    line-height: 0.7em;
}

h6.mahitala {
    font-weight: 800;
}

.find-us {
    text-align: left;
    padding-left: 25px;
}

.find-us h6 {
    font-size: 15px;
    font-weight: 800;
    padding-top: 5px;
}

.whitespace {
    height: 10px;
}

.find-us img {
    margin-right: 5px;
    position: relative;
    right: 10px;
    float: right;
}

.find-us img.unpar {
    width: 45px;
}